# Node / React
/frontend/node_modules
/frontend/build
/frontend/.env

# Java / Maven / Gradle
/backend/target
/backend/.gradle
/backend/build
/backend/.idea
/backend/*.iml

# OS / IDE
.DS_Store
.vscode/
*.log
